h4 {
   color: blue;
}
.container-fluid{

  padding-top: 10px;
  padding-bottom: 10px;
   margin-bottom: 10px;
   letter-spacing: 2px;
   line-height: 30px;
   text-transform: uppercase;
   background-color: grey
}
.navbar-link{
    color: yellow;
    font size: 40;
}