{% extends "base.html" %}
{% block link %}
    <li class="nav-item">
        <a class="nav-link" style="color: white" href="/index/{{ enter }}">Описание </a>
    </li>
    {% if name == "Вторая степень опьянения": %}
        <li class="nav-item">
            <a class="nav-link" style="color: white" href="/gen_prof/{{ enter }}">Первая степень опьянения</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" style="color: white" href="/gen/{{ enter }}">Вторая степень опьянения</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link active" style="color: white" href="/gen_prof/{{ enter }}">Первая степень опьянения</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="color: white" href="/gen/{{ enter }}">Вторая степень опьянения</a>
        </li>
    {% endif %}
    <li class="nav-item">
        <a class="nav-link" style="color: white" href="/scrooll_page/{{ enter }}">Чат</a>
    </li>
{% endblock %}
{% block content %}
    <form class="create_form" method="post">
        <div class="form-group">
            <h3><label for="about">Да начнётся генерация!</label></h3>
            <h5><label for="about">{{ description }}</label></h5>
            <label for="about">{{ message }}</label>
            <textarea class="form-control" id="about" rows="25" name="about">{{ text }}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Сгенерировать</button>
    </form>
{% endblock %}