{% extends "base.html" %}
{% block link %}
    <li class="nav-item">
        <a class="nav-link active" style="color: white" href="/index/{{ enter }}">Описание</a>
    </li>
    <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" style="color: white" >
            Генерация
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item">
                <a class="nav-link" style="color: black" href="/gen_prof/{{ enter }}">Первая степень опьянения</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: black" href="/gen/{{ enter }}">Вторая степень опьянения</a>
            </li>
          </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link" style="color: white" href="/scrooll_page/{{ enter }}/False">Чат</a>
    </li>
{% endblock %}
{% block exit %}
    <a href="/index/False" class="btn btn-primary">Выйти</a>
{% endblock %}
{% block content %}
    <div class="alert alert-primary" role="alert">
        <h1>Вы когда-нибудь хотели почувствовать себя пьяным писателем?</h1>
    </div>
    <img src="/static/img/drinki.jpg" alt="здесь должна была быть картинка, но не нашлась">
    <div class="alert alert-primary" role="alert">
    <h2>Если да, то попробуйте наш генератор слов!</h2>
    </div>
    <h4>Вы даже не заметите, как ваши предложения потеряют смысл, а повествование превратится в...</h4>
    <h3>...Логичный бред!</h3>
    <img src="/static/img/whatthe.jpeg" alt="здесь должна была быть картинка, но не нашлась">
    <h5>Как это работает?</h5>
    <img src="/static/img/magicno.jpeg" alt="здесь должна была быть картинка, но не нашлась">
    <h3>Готовы повеселиться?</h3>
    <h1>Тогда переходите на страницу с генератором, и погнали!</h1>
    <img src="/static/img/start.jpg" alt="здесь должна была быть картинка, но не нашлась">
{% endblock %}
