{% extends "base.html" %}
{% block link %}
    <li class="nav-item">
        <a class="nav-link" style="color: white" href="/index/{{ enter }}">Описание</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" style="color: white">
            Генерация
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li class="nav-item">
                <a class="nav-link" style="color: black" href="/gen_prof/{{ enter }}">Первая степень опьянения</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="color: black" href="/gen/{{ enter }}">Вторая степень опьянения</a>
            </li>
        </ul>
    </li>
    <li class="nav-item">
        <a class="nav-link active" style="color: white" href="/scrooll_page/{{ enter }}/False">Чат</a>
    </li>
{% endblock %}
{% block exit %}
    <a href="/scrooll_page/False/False" class="btn btn-primary">Выйти</a>
{% endblock %}
{% block content %}
<h1>Генерации</h1>
{% for item in all_generation%}
<div class="col-md6 border rounded">
    <h2>{{item.generation_text}}</h2>
    <div>
        {{item.comment}}
    </div>
    <div>
        Автор - {{item.author}}
    </div>
</div>
{% endfor %}
{% if post != 'False': %}
    <nav class="navbar navbar-expand-lg fixed-bottom navbar-black bg-light">
        <div class="container-fluid" id="send">
            <form class="d-flex">
                <img src="{{url_for('static', filename='img/new_post.png')}}" alt="" width="100" height="100" id="post_img" class="d-inline-block align-text-top">
                <label for="post_img" id ="comm">Автор: {{ enter }}</label>
            </form>
            <form class="d-flex" method="post">
                <label for="about" id ="comm2">Комментарий:  </label>
                <input class="form-control" type="text" id="about" placeholder="Комментарий" name="about">
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </nav>
{% endif %}
{% endblock %}